$color-primary--light: #00cec9;
$color-primary:#74b9ff;
$color-primary--dark:#0984e3;


$color-grey--light-1: #f6f6f6;

$color-grey--dark: #777;


$default-font-size: 1.6rem;


$color-white: #fff;
$color-black: #000;