/* Colors

Light Blue:#74b9ff
Medium Blue:#00cec9
Dark Blue: #0984e3


*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 20px;
}


/* * HEADER */
.header {
    height: 95vh;
    background-image: 
        linear-gradient(
            to left top,
            rgba(116, 186, 255, 0.7),
            rgba(9, 133, 227, 0.9)),
        url(../imgs/beautiful-natural-view-landscape.jpg);
    background-size: cover;
    background-position: top;
    border-radius: 10% 0;
    position: relative;

    /* clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0% 100%); */

    /* * ESTILIZAÇÃO DA CAIXA DE TEXTO */
    & .text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        /* * ESTILIZAÇÂO DO TÍTULO DO HEADER */
        & .heading-primary {
            color: #fff;
            text-transform: uppercase;
            backface-visibility: hidden;
            margin-bottom: 40px;
    
            & .heading-primary-main {
                display: block;
                font-size: 60px;
                font-weight: 400;
                letter-spacing: 25px;

                animation: moveInLeft 1.5s ease-out;
                
            }
    
            & .heading-primary-sub {
                display: block;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 8px;

                animation: moveInRight 1.5s ease-out;
    
            }
    
        }

        /* * ESTILIZAÇÃO DE BOTÕES */
        & .btn:link,
        & .btn:visited {
            text-transform: uppercase;
            text-decoration: none;
            padding: 15px 40px;
            display: inline-block;
            border-radius: 100px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
            transition: all .2s;
        }

        & .btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0,0,0,0.4);
        }
        
        & .btn:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0,0,0,0.4);
        }

        & .btn-header {
            letter-spacing: 4px;
            animation: moveInUp .5s ease-out .75s;
            animation-fill-mode: backwards;
        }

        /* * CORES DOS BOTÕES */
        & .btn-white {
            background-color: #fff;
            color: #777;
        }
    
    }
}


/* * ANIMAÇÕES */

@keyframes moveInLeft{
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    40%{
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    40%{
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(-100px)
    }
    40% {
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}