@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  40% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  40% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  40% {
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 2rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    animation: moveInLeft 1.5s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.8rem;
    animation: moveInRight 1.5s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #00cec9, #0984e3);
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.heading-terciary {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }

.u-center-text {
  text-align: center; }

.u-right-text {
  text-align: right; }

.u-margin-bottom-small {
  margin-bottom: 0.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 16rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2);
  transition: all .2s;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }

.btn--animated {
  letter-spacing: 0.4rem;
  animation: moveInUp .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn--blue {
  background-image: linear-gradient(to right, #00cec9, #0984e3);
  color: #fff; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #0984e3;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #0984e3;
  padding: 2px;
  transition: all .2s; }

.btn-text:hover {
  color: #fff;
  background-color: #0984e3;
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.composition {
  position: relative;
  width: 40rem;
  height: 100%; }
  .composition__photo {
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1.5rem; }
    .composition__photo--p1 {
      left: -2rem;
      top: -2rem; }
    .composition__photo--p2 {
      right: -2rem;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 12rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #74b9ff;
      transform: scale(1.05) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.features-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 25rem;
  height: 35rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 3px;
  transition: all .2s; }
  .features-card__icon {
    width: 4rem;
    align-self: center;
    filter: invert(42%) sepia(98%) saturate(1929%) hue-rotate(185deg) brightness(87%) contrast(107%); }
  .features-card:hover {
    transform: translateY(-2rem) scale(1.05);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #74b9ff; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #d22; }
  .form__input::-webkit-input-placeholder {
    color: #aaa; }

.form__label {
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.story {
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
  transition: all 2s;
  backface-visibility: hidden; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem) skew(12deg);
    position: relative; }
  .story__img {
    width: 100%;
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    filter: blur(6px) brightness(80%); }

.tours-card {
  height: 55rem;
  width: 35rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .tours-card__side {
    background-color: #74b9ff;
    box-shadow: 0 1.5rem 4rem rgba(116, 185, 255, 0.5);
    height: 100%;
    width: 100%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden; }
    .tours-card__side--front {
      background-color: #fff; }
    .tours-card__side--back {
      transform: rotateY(180deg); }
      .tours-card__side--back-1 {
        background-image: linear-gradient(to right bottom, #00cec9, #74b9ff); }
      .tours-card__side--back-2 {
        background-image: linear-gradient(to right bottom, #74b9ff, #0984e3); }
      .tours-card__side--back-3 {
        background-image: linear-gradient(to right bottom, #00cec9, #0984e3); }
  .tours-card:hover .tours-card__side--front {
    transform: rotateY(-180deg); }
  .tours-card:hover .tours-card__side--back {
    transform: rotateY(0deg); }
  .tours-card__img {
    background-size: cover;
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    background-blend-mode: soft-light; }
    .tours-card__img--1 {
      background-image: linear-gradient(to right bottom, #00cec9, #74b9ff), url("../imgs/img-1.jpg"); }
    .tours-card__img--2 {
      background-image: linear-gradient(to right bottom, #74b9ff, #0984e3), url("../imgs/img-2.jpg"); }
    .tours-card__img--3 {
      background-image: linear-gradient(to right bottom, #00cec9, #0984e3), url("../imgs/img-3.jpg"); }
  .tours-card__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    margin-top: 1rem; }
    .tours-card__text-box__heading {
      font-size: 2.4rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.1rem;
      display: inline-block;
      background-clip: text;
      -webkit-text-fill-color: transparent; }
      .tours-card__text-box__heading--1 {
        background-image: linear-gradient(to right, #00cec9, #74b9ff); }
      .tours-card__text-box__heading--2 {
        background-image: linear-gradient(to right, #74b9ff, #0984e3); }
      .tours-card__text-box__heading--3 {
        background-image: linear-gradient(to right, #00cec9, #0984e3); }
    .tours-card__text-box__detail {
      font-size: 1.6rem; }
      .tours-card__text-box__detail__ul {
        list-style: none;
        text-align: center; }
      .tours-card__text-box__detail__ul li {
        padding: .6rem; }
        .tours-card__text-box__detail__ul li:not(:last-child) {
          border-bottom: 1px solid #777; }
  .tours-card__side--back {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #444; }
    .tours-card__side--back span {
      font-size: 1.6rem;
      margin-bottom: 0.5rem; }
    .tours-card__side--back h4 {
      font-size: 6.4rem;
      font-weight: 300;
      margin-bottom: 4rem; }

.row {
  display: flex;
  justify-content: center;
  gap: 8rem; }

.row-stories {
  display: flex;
  flex-direction: column;
  gap: 8rem; }

.col-1-of-2 {
  max-width: 40rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to left top, rgba(0, 206, 201, 0.7), rgba(9, 132, 227, 0.9)), url(../imgs/img-3.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f0f0f0;
  padding: 30rem 0;
  margin-top: -20rem;
  margin-bottom: -20rem; }

.section-features {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  background-image: linear-gradient(to left top, rgba(0, 206, 201, 0.7), rgba(9, 132, 227, 0.9)), url(../imgs/img-1.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%); }

.section-tours {
  background-color: #f0f0f0;
  padding: 30rem 0;
  margin-top: -20rem;
  margin-bottom: -20rem; }

.section-stories {
  padding: 15rem 0;
  position: relative; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right, #00cec9, #0984e3);
  display: flex;
  align-items: center;
  justify-content: center; }

.book-box {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
  width: 110rem;
  height: 55rem; }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../imgs/img-2.jpg);
  background-size: cover;
  border-radius: 3px;
  width: 100%;
  height: 100%; }
  .book__form {
    width: 50%;
    padding: 6rem; }
